.container-burger {
    background-color: red;
    height: 100px;
    color: #fff;
    display: grid;
    align-items: center;
}
ul {
    display: flex;
}
ul li{
    list-style: none;
    display:flex;
    margin: 0px 80px;
    font-weight: 600;
}
.section { 
    display: block; 
    width: 300px; 
    height: 300px; 
    float: left; 
    margin-left: 20px; 
    margin-top: 80px;
    opacity: .6; 
    border-radius: 6px; 
}

.blue { background-color: #06F; }
.green { background-color: #0f9d00; }
.red { background-color: #F00; }
.yellow { background-color: #ffea00; }

.container{
    margin: 80px 0px;
}







@media screen and(max-width:500px) {
    .container-burger{
        display: none;
    }
}